body .home-page a{
    text-decoration: none !important;
    color: #3b3b3b;
}
body .home-page a:hover{
    color: #f69435;
}
.home-page #header-content .top-header{
	background-color: #f3f3f3;
}

/* top bar */
.home-page #header-content .top-header .top-nav {
	max-width: 1200px;
	width: 100%;
	margin: auto;
}
.home-page #header-content .top-header .top-nav .container .row{
    margin-left: -45px;
    margin-right: -45px;
}
.home-page #header-content .top-header .top-nav .navbar-right {
	margin-top: 3px;
	margin-bottom: 3px;
}
.home-page #header-content .top-header .top-nav .navbar-right .navbar-nav {
	flex-direction: row;
}
.home-page #header-content .top-header .top-nav .navbar-right .navbar-nav .nav-item-top {
	height: 40px;
	width: 60px;
	padding: 10px 0px;
}
.home-page #header-content .top-header .top-nav .navbar-right .nav-item-top .nav-links {
	width: fit-content;
	font-family: Simple-Line-Icons;
	font-size: 22px;
	line-height: 16px;
	color: black;
	margin: auto;
}
.home-page #header-content .top-header .top-nav .navbar-right .nav-item-top #customer-account::before {
	content: "\e005";
}
.home-page #header-content .top-header .top-nav .navbar-right .nav-item-top #customer-wishlist::before {
	content: "\e08a";
}
.home-page #header-content .top-header .top-nav .navbar-right .nav-item-top #customer-cart::before {
	content: "\e035";
}
/* header menu */
.home-page #header-content .header-menu {
	max-width: 1200px;
	width: 100%;
	margin: auto;
	padding: 10px 0;
}
.home-page #header-content .header-menu .menu-container .row {
	margin: 0 -45px;
}
.home-page #header-content .header-menu .menu-container .row.cate-title{
    margin-bottom: 10px;
}
.home-page #header-content .header-menu .menu-container .row .search {
    max-width: 325px;
	position: relative;
	display: flex;
    height: 40px;
    border-radius: 25px;
    border: 1px solid burlywood;
}
.home-page #header-content .header-menu .menu-container .row .search input {
	width: 250px;
    margin: 5px 10px;
    padding: 0 10px;
    border: unset;
}
.home-page #header-content .header-menu .menu-container .row .search input:focus {
	outline: unset;
}
.home-page #header-content .header-menu .menu-container .row .search .button-search {
	position: absolute;
	right: 15px;
	width: 30px;
	height: 30px;
	margin: 5px 0;
}
.home-page #header-content .header-menu .menu-container .row .search .button-search button {
	background: transparent;
	width: 30px;
	height: 30px;
	padding: 0;
	margin: 0;
	border: 0;
}
.home-page #header-content .header-menu .menu-container .row .search .button-search span {
	display: inline-block;
	font-family: Simple-Line-Icons;
	font-size: 20px;
	line-height: 20px;
	color: black;
    margin: auto;
    padding: 5px;
}
.home-page #header-content .header-menu .menu-container .row .search .button-search span::before {
	content: "\e090";
}
/* button style active hover*/
.home-page #header-content .header-menu .menu-container .row .search .button-search button:hover {
	background-color: #fafafa;
}
.home-page #header-content .header-menu .menu-container .row .search .button-search button:active {
	background-color: white;
	box-shadow: 0 white;
	transform: translateY(2px);
}
.home-page #header-content .header-menu .menu-container .row .search .button-search button:focus{
    outline: unset;
}
/* css 3 category */
.home-page #header-content .header-menu .menu-container .row .menu-item{
    padding: 10px 0;
    text-align: center;
    height: 50px;
}
.home-page #header-content .header-menu .menu-container .row .menu-item a{
    font-family: Gotham;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;

}

/* style for sub-menu of hangsanxuat*/
.home-page #header-content .hover-container1{
    width: 100%;
    display: none;
    position: absolute;
    top: 105px;
    overflow: hidden;
}
.home-page #header-content .hover-container1 .row .col{
    padding: 0;
}
.home-page #header-content .hover-container1 .row.hover-nhasanxuat{
    display: flex;
    background-color: #f3f3f3;
    margin: auto;
    border-radius: 25px;
}
.home-page #header-content .hover-container1 .row .item a{
   font-size: 18px;
   font-family: Gotham;
}
.home-page #header-content .hover-container1 .row .item{
    padding: 20px 10px;
}
/* style for sub-menu of mucgia*/
.home-page #header-content .hover-container2{
    width: 100%;
    display: none;
    position: absolute;
    top: 105px;
    overflow: hidden;
    z-index: 10000;
}
.home-page #header-content .hover-container2 .row .col{
    padding: 0;
}
.home-page #header-content .hover-container2 .row.hover-mucgia{
    display: flex;
    background-color: #f3f3f3;
    margin: auto;
    border-radius: 25px;
}
.home-page #header-content .hover-container2 .row .item-mucgia a{
   font-size: 18px;
   font-family: Gotham;
}
.home-page #header-content .hover-container2 .row .item-mucgia{
    padding: 20px 10px;
}

@media (min-width: 1200px) {
	.home-page .col-lg-offset-3 {
		margin-left: 25%;
	}
}
@media (min-width: 768px) {
	.home-page #header-content .top-header .top-nav .navbar-right {
		float: right !important;
	}
}
